.company-profile-overview-company-profile-overview {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.company-profile-overview-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-border);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container02 {
  gap: var(--dl-space-space-g5);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.company-profile-overview-text {
  font-size: 21px;
  font-weight: 500;
}
.company-profile-overview-text01 {
  color: var(--dl-color-primary-lila);
  font-size: 21px;
  font-weight: 300;
}
.company-profile-overview-container03 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.company-profile-overview-icon {
  width: 14px;
  height: 14px;
}
.company-profile-overview-text02 {
  font-size: 10px;
}
.company-profile-overview-icon02 {
  width: 14px;
  height: 14px;
}
.company-profile-overview-text03 {
  font-size: 10px;
}
.company-profile-overview-container06 {
  width: 100%;
  height: 55px;
  display: flex;
  z-index: 90;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container07 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.company-profile-overview-navlink {
  display: contents;
}
.company-profile-overview-container08 {
  fill: var(--dl-color-primary-content);
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container08:hover {
  fill: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-lila);
}
.company-profile-overview-icon04 {
  width: 14px;
  height: 14px;
}
.company-profile-overview-text04 {
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-container09 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.company-profile-overview-text05 {
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-navlink1 {
  display: contents;
}
.company-profile-overview-container10 {
  fill: var(--dl-color-primary-content);
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container10:hover {
  fill: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-lila);
}
.company-profile-overview-icon06 {
  width: 14px;
  height: 14px;
}
.company-profile-overview-container11 {
  gap: var(--dl-space-space-g20);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p20);
  padding-left: var(--dl-space-space-p30);
  padding-right: var(--dl-space-space-p30);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container12 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container13 {
  gap: var(--dl-space-space-g40);
  flex: 0 0 auto;
  width: 100%;
  height: 190px;
  display: flex;
  padding: var(--dl-space-space-p20);
  align-items: flex-start;
  flex-direction: row;
}
.company-profile-overview-container14 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.company-profile-overview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.company-profile-overview-container15 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(189, 195, 199, 0) 54.00%,rgba(0, 0, 0, 0.6) 100.00%);
}
.company-profile-overview-container16 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.company-profile-overview-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-p10);
  justify-content: space-between;
}
.company-profile-overview-container18 {
  gap: var(--dl-space-space-g20);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.company-profile-overview-text06 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.company-profile-overview-container19 {
  gap: var(--dl-space-space-g10);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.company-profile-overview-container20 {
  flex: 0 0 auto;
  width: 5px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-border);
}
.company-profile-overview-container21 {
  flex: 0 0 auto;
  width: 5px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-border);
}
.company-profile-overview-container22 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.company-profile-overview-text10 {
  font-size: 11px;
}
.company-profile-overview-text11 {
  font-size: 10px;
}
.company-profile-overview-container25 {
  gap: var(--dl-space-space-g20);
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.company-profile-overview-container26 {
  gap: var(--dl-space-space-g5);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
}
.company-profile-overview-text12 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-text13 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container27 {
  gap: var(--dl-space-space-g5);
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
}
.company-profile-overview-text14 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-text15 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container28 {
  gap: var(--dl-space-space-g5);
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
}
.company-profile-overview-text16 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-text17 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container29 {
  gap: var(--dl-space-space-g5);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
}
.company-profile-overview-text18 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-text19 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container30 {
  gap: var(--dl-space-space-g5);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
}
.company-profile-overview-text20 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-text21 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container31 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.company-profile-overview-container32 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.company-profile-overview-enable {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  z-index: 80;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container33 {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p10);
  padding-right: var(--dl-space-space-p10);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-text22 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-container34 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 5px;
  height: 2px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 1px;
  background-color: var(--dl-color-primary-lila);
}
.company-profile-overview-disable {
  flex: 0 0 auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-container35 {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p10);
  padding-right: var(--dl-space-space-p10);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-text23 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container36 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.company-profile-overview-enable1 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  z-index: 80;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container37 {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p10);
  padding-right: var(--dl-space-space-p10);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-text24 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-container38 {
  flex: 0 0 auto;
  width: 100%;
  bottom: 5px;
  height: 2px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 1px;
  background-color: var(--dl-color-primary-lila);
}
.company-profile-overview-disable1 {
  flex: 0 0 auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-container39 {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p10);
  padding-right: var(--dl-space-space-p10);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-text25 {
  font-style: normal;
  font-weight: 400;
}
.company-profile-overview-container40 {
  gap: var(--dl-space-space-g20);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.company-profile-overview-container41 {
  flex: 0.7;
  width: 200px;
  height: 100%;
  display: flex;
  overflow: scroll;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container42 {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-container43 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: center;
}
.company-profile-overview-text26 {
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-container44 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.company-profile-overview-container45 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
}
.company-profile-overview-text28 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container46 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-textinput {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container47 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-text29 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container48 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-textinput1 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container49 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  box-shadow: 0px 4px 3px -1px rgba(233, 233, 233, 0.7);
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
}
.company-profile-overview-text30 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container50 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-textinput2 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container51 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-text31 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container52 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-textinput3 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container53 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
}
.company-profile-overview-text32 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container54 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-textinput4 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container55 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-text33 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container56 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-textinput5 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container57 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
}
.company-profile-overview-text34 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container58 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-textinput6 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container59 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-text35 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container60 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-textinput7 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container61 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p15);
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p15);
  justify-content: center;
}
.company-profile-overview-text36 {
  padding-left: var(--dl-space-space-p5);
}
.company-profile-overview-container62 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-textinput8 {
  width: 100%;
  background-color: transparent;
}
.company-profile-overview-container63 {
  flex: 0 0 auto;
  width: 100%;
  bottom: 0px;
  height: 65px;
  display: flex;
  position: absolute;
  box-shadow: 0px -4px 3px -1px rgba(233, 233, 233, 0.33);
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-container64 {
  gap: var(--dl-space-space-g10);
  fill: var(--dl-color-primary-content);
  flex: 0 0 auto;
  color: var(--dl-color-primary-content);
  width: auto;
  cursor: pointer;
  height: 32px;
  display: flex;
  opacity: 0.7;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-p20);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container64:hover {
  opacity: 1;
}
.company-profile-overview-icon08 {
  width: 14px;
  height: 14px;
}
.company-profile-overview-container65 {
  gap: var(--dl-space-space-g10);
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: auto;
  cursor: pointer;
  height: 32px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  border-color: rgba(230, 230, 230, 0.2);
  border-width: 1px;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-p20);
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.company-profile-overview-container65:hover {
  fill: var(--dl-color-primary-content);
  color: var(--dl-color-primary-content);
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-icon10 {
  width: 14px;
  height: 14px;
}
.company-profile-overview-container66 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 65px;
  display: flex;
  box-shadow: 0px -4px 3px -1px rgba(233, 233, 233, 0.33);
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-container67 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-background-bg2);
}
.company-profile-overview-container68 {
  flex: 0 0 auto;
  color: var(--dl-color-primary-content);
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-container69 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: center;
}
.company-profile-overview-text39 {
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-text40 {
  color: var(--dl-color-primary-lila);
}
.company-profile-overview-container70 {
  gap: var(--dl-space-space-g10);
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container71 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.company-profile-overview-container72 {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.company-profile-overview-container73 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.company-profile-overview-container74 {
  flex: 0.2;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-p20);
  justify-content: flex-end;
}
.company-profile-overview-container75 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.company-profile-overview-container76 {
  gap: var(--dl-space-space-g10);
  flex: 0 0 auto;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container77 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.company-profile-overview-container78 {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-container80 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-container81 {
  gap: var(--dl-space-space-g5);
  flex: 0.2;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-container82 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.company-profile-overview-text48 {
  font-style: normal;
  font-weight: 700;
}
.company-profile-overview-container83 {
  gap: var(--dl-space-space-g10);
  flex: 0 0 auto;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-white);
}
.company-profile-overview-container84 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.company-profile-overview-container85 {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-text49 {
  font-size: 10px;
}
.company-profile-overview-container87 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-background-bg1);
}
.company-profile-overview-text50 {
  opacity: 0.9;
}
.company-profile-overview-container88 {
  gap: var(--dl-space-space-g5);
  flex: 0.2;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.company-profile-overview-text51 {
  opacity: 0.9;
  font-size: 10px;
}
.company-profile-overview-container89 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.company-profile-overview-text52 {
  opacity: 0.6;
  font-size: 11px;
}
.company-profile-overview-text53 {
  opacity: 0.9;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}

